<footer class="text-center">
  <div class="footer-below">
    <p class="text-center">Copyright ©2019 招码网
      <br>Design by
    </p>
    <a href="https://www.rubyc.cn" target=_new>YuanChang</a>
  </div>
</footer>